---
layout: default
---

<article class="minutes">
	<h1>UKSHA Board Meeting</h1>
	<h3>{{ page.title }}</h3>

	<table>
		<tr><th>Present</th><th>{{ page.present }}</th></tr>
		<tr><th>Absent</th><th>{{ page.absent }}</th></tr>
	</table>

	<h2>Agenda</h2>
	<div class="agenda">
		<table>
			<tr>
				<th>Agenda Review</th><th>{{ page.AgendaReview }}</th>
			</tr>
			<tr>
				<th>Minutes Review</th><th>{{ page.MinutesReview }}</th>
			</tr>
		</table>

		<h4>Reports</h4>
		<table>
			<tr>
				<th>Staff Report</th><th>{{ page.StaffReport }}</th>
			</tr>
			<tr> House Reports </tr>
		</table>

		<h4>Discussion Items</h4>
		{{ content }}
	</div>
</article>
